<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/admin_styles.css">
    <title>Document</title>
    
</head>
<body class="text-center">
    <main class="form-signin">
        <form action="/submitt" method="POST">
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
            <div class="form-floating">
                <input type="password" class="form-control"
                    id="floatingPassword" placeholder="Password"
                    fdprocessedid="j0hwm" name="password">
                <label for="floatingPassword">Password</label>
            </div>

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="w-100 btn btn-lg btn-secondary" type="submit"
                fdprocessedid="03jw1">Sign in</button>
        </form>
    </main>
    <span id="PING_IFRAME_FORM_DETECTION" style="display: none;"></span>
</body>
</html>
